<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="com.gejian.live.dao.mapper.StreamerOfflineMapper">

    <resultMap id="StreamerOfflineRM" type="com.gejian.live.dao.entity.StreamerOffline">
		<result property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="roomId" column="room_id"/>
		<result property="roomCoverFileName" column="room_cover_file_name"/>
		<result property="roomCoverFileBucketName" column="room_cover_file_bucket_name"/>
		<result property="roomCoverType" column="room_cover_type" />
		<result property="clientId" column="client_id"/>
		<result property="ip" column="ip"/>
		<result property="createTime" column="create_time"/>
		<result property="endTime" column="end_time"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`user_id`,`room_id`,`room_cover_file_name`,`room_cover_file_bucket_name`,`room_cover_type`,``client_id`,`ip`,`create_time`,`end_time`
	</sql>

</mapper>